---
const players = Astro.props; 
---
<table class="table">
    <thead>
        <tr>
            <th scope="col">Classement</th>
            <th scope="col">Joueur</th>
            <th scope="col">Equipe</th>
            <th scope="col">M</th>
            <th scope="col">MJ</th>
            <th scope="col">PPM</th>
            <th scope="col">RPM</th>
            <th scope="col">PDPM</th>
            <th scope="col">MPM</th>
            <th scope="col">EFF</th>
            <th scope="col">FG%</th>
            <th scope="col">3P%</th>
            <th scope="col">%LF</th>
        </tr>
    </thead>
    <data id="data">{players}</data>
    <tbody id="rows">
    </tbody>
    <script>
        let data=document.getElementById("data");
        let dataplayers=data.textContent;
        data.remove();
        let toRows=document.getElementById("rows");
        let players=JSON.parse(dataplayers);
        for(let i=0;i<players.length;i++){
            let tr=document.createElement("tr");
            let th=document.createElement("th");
            th.scope="row";
            let td1=document.createElement("td");
            td1.textContent=players[i].nom+" "+players[i].prenom;
            let td2=document.createElement("td");
            td2.textContent="17";
            let td3=document.createElement("td");
            td3.textContent="17";
            let td4=document.createElement("td");
            td4.textContent="17";
            let td5=document.createElement("td");
            td5.textContent="17";
            let td6=document.createElement("td");
            td6.textContent="17";
            let td7=document.createElement("td");
            td7.textContent="17";
            let td8=document.createElement("td");
            td8.textContent="17";
            let td9=document.createElement("td");
            td9.textContent="17";
            let td10=document.createElement("td");
            td10.textContent="17";
            let td11=document.createElement("td");
            td11.textContent="17";
            let td12=document.createElement("td");
            td12.textContent="17";

            tr.appendChild(th);
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            tr.appendChild(td5);
            tr.appendChild(td5);
            tr.appendChild(td6);
            tr.appendChild(td7);
            tr.appendChild(td8);
            tr.appendChild(td9);
            tr.appendChild(td10);
            tr.appendChild(td11);
            tr.appendChild(td12);
            toRows.appendChild(tr);
        }
    </script>
</table>